<!-- app/templates/login.html -->

{% extends "bootstrap.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/login.css') }}">


<section class="login">
    <div class="side">
        <div class="vanlink_logo">
            <img src="../static/img/vanlink_Img.png" alt="" class="vanlink_img">
        </div>
        <div class="texto_logo">
            A <span>solução</span> do transporte acadêmico!
        </div>
    </div>
    <div class="form">
        <form action="" method="post" novalidate class="mx-auto p-2">
            <h1>Logar</h1>
            
        
            <div class="mb-3">
                <label for="username" class="form-label">{{ form.username.label }}</label>
                {{ form.username(class_="form-control", id="username", size=32) }}
                {% for error in form.username.errors %}
                    <span style="color:red">[{{ error }}]</span>
                {% endfor %}
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label">{{ form.password.label }}</label>
                {{ form.password(class_="form-control", id="password", size=32) }}
                {% for error in form.password.errors %}
                    <span style="color:red">[{{ error }}]</span>
                {% endfor %}
            </div>
        
            <div class="mb-3 form-check">
                {{ form.remember_me(class_="form-check-input", id="rememberMe") }}
                <label class="form-check-label" for="rememberMe">{{ form.remember_me.label }}</label>
            </div>
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                {% for message in messages %}
                    {% if request.args.success %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% else %}
                        <div class="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>
        <p>Novo usuário? <a href="{{url_for('register')}}">Registrar</a></p>
    </div>
</section>
{% endblock %}